body {
    background-color: #202123;
    color: #fff;
}
body nav {
    background-color: #26A69A;
}
body footer {
    background-color: #26A69A;
}
body .card {
    background-color: rgba(255, 255, 255, 0.2);
}
body .btn {
    background-color: #EE6F73;
}

p {
    font-size: 1.3rem;
}