<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
    #derivedSemanticGraph {
    width: auto;
    height: 624px;
    border: 1px solid lightgray;
    }
  </style>

</head>
<body>
<div>
  <p>Resources Network</p>
  <div id="derivedSemanticGraph"></div>
</div>
<script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script th:inline="javascript">
      /*<![CDATA[*/
      var inline_dot = [[${dotString}]];
      /*]]>*/

</script>
<script th:src="@{/js/network_vis.js}"></script>
</body>
</html>