<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<article th:fragment="KnowledgeManagement" th:with="cls = ${node.getClass()}">
  <p>Knowledge Management requirements implementation</p>
  <div class="card blue-grey darken-1" th:if="${hasRequiresInput}">
    <div class="card-content white-text" th:each="relation : ${requiresInput}" th:with="fileLabel = ${relation.getTarget().getName()},
                           dataEntityMaskedIri = ${relation.getTarget().getIriEncoding().toStringMasked()}">
      <h5 th:text="${fileLabel}"></h5>
      <p>Task execution requires input from external data. Want to see the file sample?</p>
      <a class="btn-floating btn-large waves-effect waves-light green"
         th:href="|/knowledge/input/${dataEntityMaskedIri}|">Yes</a>
    </div>
  </div>
  <div class="card blue-grey darken-1">
    <div class="card-content white-text" th:if="${hasRequiresApp}" th:with="swResourceLabel = ${requiresApp.getTarget().getName()},
                 swResourceMaskedIri = ${requiresApp.getTarget().getIriEncoding().toStringMasked()}">
      <h5 th:text="${swResourceLabel}"></h5>
      <p>Action makes an invisible call to required software. Want to run local program executable?</p>
      <a class="btn-floating btn-large waves-effect waves-light blue"
         th:href="|/knowledge/app/${swResourceMaskedIri}|">Yes</a>
    </div>
  </div>
  <div class="card blue-grey darken-1">
    <div class="card-content white-text" th:if="${hasPictureURI}" th:with="uriString = ${pictureURI.toString()}">
      <h5 th:text="${node.getName()} + ' Action'"></h5>
      <p>Action acts upon a UIElement. Found a graphical representation of it. Want to render screenshot?</p>
      <button id="ssYes" class="btn-floating btn-large waves-effect waves-light blue"
              th:attr="onclick=|renderImg('${uriString}')|">Yes
      </button>
    </div>
  </div>
  <script>
  function renderImg(uriString) {
    var anchor = document.getElementById("ssYes");
    var parent = anchor.parentNode;
    parent.removeChild(anchor);
    parent.appendChild(
        Object.assign(
          document.createElement('img'),
          { src : uriString ,
            width : '512',
            height : '512'
          }
        ));
  }
  </script>
</article>
</html>