<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<article th:fragment="Iterator">
  <p>Incoming relations from resources</p>
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <table id="incoming" class="responsive-table centered highlight">
        <tr>
          <td>Relation Type</td>
          <td>Text</td>
          <td>Access</td>
        </tr>
        <th:block th:each="incRel: ${incRels}" th:with="node=${incRel.getSource()}, relType=${incRel.getClass().getSimpleName()}, nodeType=${node.getClass.getSimpleName()}">
          <tr th:class="'relation' + ' ' + ${relType} + ' ' + ${nodeType}"> <!--th:id="${node.getName()}"-->
            <td>
              <span th:text="${incRel.getClass().getSimpleName()}"></span> <!-- Reflection API call -->
            </td>
            <td>
<!--              <span th:if="! ${node} instanceof Action " th:text="${node.getName()}"/>-->
            </td>
            <td>
              <a class="btn link" th:href="|/node/${node.getIriEncoding().toStringMasked()}|">
                <i class="material-icons">navigate_before</i>
              </a>
            </td>
          </tr>
        </th:block>
      </table>
    </div>
  </div>
</article>
</html>